<!DOCTYPE html>
<html>

<head>
  <title>My Meetings</title>
  <% include ./partials/scripts %>
  <% include ./partials/sidebar %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  <style>
    body {
      font-family: 'Play';
      padding: 0;
      top: 0;
    }

    html {
      font-family: 'Play';
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div id=wrapper>
    <% include ./partials/sidebarhtml %>
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <% if ( typeof(rows) !== 'undefined' ) { %>
            <% for(var i = 0; i < rows.length; i++) { %>
            <div class="span8">

              <h2>
                <strong>
                  <%- rows[i].customer %>
                </strong>
              </h2>
              <br>
              <p>
                <%- rows[i].actionItems %>
              </p>
              <p>
                <%- rows[i].minutes %>
              </p>
              <div>
                <span class="badge badge-success">Posted
                  <%- rows[i].created_at.toUTCString() %></span> <a class="btn btn-read-more" href='/stories/<%- rows[i].slug%>'>Read
                  More</a>
                <div class="pull-right"><span class="label">
                    <%=rows[i].author%></span></div>
              </div>
              <hr>
            </div>
            <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.jQuery = window.$ = jQuery;
    $("#btn-logout").css("display", "inline");
  </script>
</body>

</html>